/* Reset padding and margin */
html {
  margin: 0 !important;
  padding: 0 !important;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh !important;
  background-color: #3e313c;
}

/* Override bootstrap container height */
.container {
  height: 100vh !important;
}

/* Override bootstrap row height to avoid scroll bar on mobile devices */
.row {
  height: 99% !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Inconsolata", monospace;
}

#header {
  background-color: #cc8c94; /* Puce */
  margin-top: 5vh;
  height: 18vh;
  padding: 4vh;
}

#sidebar {
  background-color: #4d394b;
  padding: 0;
}
#channel_form {
  text-align: center;
  height: 7vh;
  display: flex;
  padding: 1vh;
}
#make_channel {
  margin-top: 3px;
}
#nav_title {
  color: grey;
  font-weight: 600;
  font-size: 2.5vh;
  height: 6vh;
  padding: 1vh;
}
#channel_list {
  color: grey;
  overflow-y: scroll;
  overflow-x: hidden;
  width: inherit;
  margin: 0;
}
#channel_list li {
  padding: 4px;
  list-style-type: none;
}
#channel_list a:hover,
#channel_list a:active {
  color: white;
}

#channel {
  background-color: white;
  padding: 0px;
  position: relative;
}
#channel_title {
  text-align: center;
  height: 6vh;
  font-size: 5vh;
}
#message_input {
  position: absolute;
  width: inherit;
  height: 5vh;
  bottom: 0;
}

/* Messages div */
#message_div {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 65vh;
  width: inherit;
}
/* Messages */
#channel_messages li {
  display: inline-block;
  width: calc(100% - 5px);
  list-style-type: none;
  animation-name: hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}
#channel_messages .sent p {
  float: right;
  background-color: skyblue;
}
#channel_messages .reply p {
  float: left;
  background-color: whitesmoke;
}
#channel_messages .admin p {
  float: left;
  background-color: lightgrey;
  color: black;
}
#channel_messages li p {
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  margin-bottom: 0rem;
}

/* Tooltip */
.tooltip-inner {
  background-color: #9e656b; /* Copper Rose */
  border: 2px solid black;
  padding: 10px;
  font-family: "Arial", sans-serif;
  font-size: 125%;
}

#username_validation {
  color: red;
  font-weight: 600;
}

/* Font awesome icons */
.fas {
  color: white;
}
.fa-times-circle {
  padding-left: 15px;
}
.fa-volume-up,
.fa-volume-off {
  position: fixed;
  top: 15px;
  left: 15px;
}

::selection {
  color: white;
  background-color: black;
}

/* https://gist.github.com/webprogramozo/9684826e469e5dc375e98f65559e1509 */
.modal-open > :not(.modal) {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

/* Animation to hide deleted message */
@keyframes hide {
  0% {
    opacity: 1;
    height: 100%;
  }
  50% {
    opacity: 0;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0px;
  }
}

/* Collapse channel list on small screen */
@media (min-width: 768px) {
  #channel_list {
    height: 54vh;
  }
}
@media (max-width: 767px) {
  #channel_list {
    height: 40px;
  }
}

/* Font */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Playfair+Display:900");
