<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" defer src="{{ url_for( 'static', filename='index.js' ) }}"></script>

</head>

<body>
    <div class="app-layout">
        <!-- Display teams -->
        <div class="teams box">
            Teams

            <!-- Form to create a display name -->
            <form id="create_display_name">
                <input type="text" name="displayname" id="displayname" placeholder="Enter Display Name">
                <button id="username_btn" type="submit" disabled>Submit</button>
            </form>
        </div>

        <!-- Channel name header -->
        <div class="header box">Header</div>


        <!-- Display channels -->
        <div class="channels box">
            Channels {% for channel in user_posts.keys() %}
            <div>
                {{channel}}
            </div>
            {% endfor %}
        </div>


        <!-- Display posts -->
        <div class="messages box">
            <ul class="message_posts">
                {% for channel, posts_list in user_posts.items() %} {% if user_posts %} {% for post in posts_list %}
                <!-- div allows us to track post by hashq -->
                <li class="post" data-hash="{{post.hash}}" data-username="{{post.username}}" data-channel="{{post.channel}}">

                    {{post.post}}
                    <span class="username">{{post.username}}</span>
                    <span class="timestamp">{{post.timestamp}}</span>
                </li>
                {% endfor %} {% endif %} {% endfor %}
            </ul>
        </div>

        <!-- Form to create a post -->
        <form id="postform" class="input box">
            <input type="text" name="post" id="post" placeholder="Post messages here">
            <button type="submit ">Post</button>
        </form>

    </div>

</body>

</html>